%script{nonce: content_security_policy_script_nonce}
  :plain
    $(document).ready(function () {
      // read URL Parameter, change tab when loaded
      console.log("Document loaded!");
      var active_tab = getUrlVars()['tab'];
      console.log("Active Tab = !", active_tab);
      if (active_tab) {
        console.log("This is the active tab");
        $('#' + active_tab).tab('show');
      }
    });

    function getUrlVars() {
      var vars = {};
      var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
          vars[key] = value;
      });
      return vars;
    }

- content_for :head do
  = stylesheet_link_tag :admin

.reports
  %h1
    = t("report.title")
  - if @reports.empty?
    %p
      = t("report.unreviewed_reports", count: 0)
  %ul.nav.nav-tabs{role: "tablist"}
    %li.nav-item.active{role: "presentation"}
      %a{href: "#reports", title: t("report.tooltip_incomming"),
        aria: {controls: "reports", selected: true}, data: {toggle: "tab"}}
        = t("report.reported_tab")
    %li.nav-item{role: "presentation"}
      %a{href: "#checked", title: t("report.tooltip_reviewed"),
        aria: {controls: "checked", selected: false}, data: {toggle: "tab"}}
        = t("report.reviewed_tab")
    %li.nav-item{role: "presentation"}
      %a{href: "#statistics", title: t("report.tooltip_statistics"),
        aria: {controls: "statistics", selected: false}, data: {toggle: "tab"}}
        = t("report.statistics_tab")
  .tab-content
    .tab-pane.active#reports{role: "tabpanel"}
      - @reports.each do |report|
        - unless report.reviewed
          - if report.item
            .panel.panel-default
              - username = report.user.username
              .panel-heading
                .reporter.pull-right
                  != t("report.reported_label", person: link_to(username, user_profile_path(username)))
                .reason
                  %span.reason-label
                    != "#{t('report.created_at')}:"
                  %span
                    = I18n.l(report.created_at, format: :short)
                .reason
                  %span.reason-label
                    = t("report.reason_label")
                  %span
                    = report.text
              .panel-body
                .content
                  = report_content(report)
                .segment-selection
                  = button_to t("report.reported_user_details"),
                    user_search_path(admins_controller_user_search: {guid: report.reported_author.guid}),
                    class: "btn pull-left btn-info btn-small col-md-3 col-xs-12", method: :post
                  = button_to t("report.review_link"), report_path(report.id, type: report.item_type),
                    class: "btn pull-left btn-info btn-small col-md-3 col-xs-12", method: :put
                  = button_to t("report.delete_link"), report_path(report.id, type: report.item_type),
                    data: {confirm: t("report.confirm_deletion")},
                    class: "btn pull-right btn-danger btn-small col-md-3 col-xs-12", method: :delete
          - else
            .panel.panel-default
              - username = report.user.username
              .panel-heading
                .reporter.pull-right
                  != t("report.reported_label", person: link_to(username, user_profile_path(username)))
                .title
                  = report_content(report)
              .panel-body
                = button_to t("report.review_link"), report_path(report.id, type: report.item_type),
                  class: "btn pull-left btn-info btn-small", method: :put
    .tab-pane#checked{role: "tabpanel"}
      = render partial: "report/checked"
    .tab-pane#statistics{role: "tabpanel"}
      = render partial: "report/statistics"
